div,
h2,
p {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 128, 251);
  padding: 2rem 1rem;
  margin-top: 1.5rem;
}

.containerProductsCart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(0, 1, 60);
  width: 90vw;
  padding-bottom: 1.2rem;
}

.titleContainer {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.containerCartTotal {
  background-color: rgb(0, 1, 60);
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.pCartTotal {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.buyBtn {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: rgb(109, 12, 145);
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.buyBtn:hover {
  filter: brightness(1.2);
}
