header,
h1,
figure,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.2rem 0 1rem gray;
}

header figure {
  width: 3.6rem;
}

.logo {
  width: 100%;
  padding: 0.6rem;
}

.title {
  padding: 1rem 1.5rem;
  text-align: center;
  color: rgb(20, 128, 251);
  font-size: 1.8rem;
}

@media screen and (min-width: 700px) {
  header {
    display: grid;
    grid-template-areas: "logo title search";
    grid-template-columns: 30vw 40vw 30vw;
    align-items: center;
  }

  header figure {
    grid-area: logo;
    margin-left: 6rem;
    width: 4rem;
  }

  .title {
    grid-area: title;
    font-size: 2.6rem;
    padding: 0;
  }
}
