div,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inputContainer {
  padding-bottom: 0.7rem;
  display: flex;
  align-items: center;
}

.inputBox {
  outline-color: rgb(20, 128, 251);
  padding: 0.2rem;
  width: 9rem;
  font-size: 1rem;
  color: rgb(33, 37, 41);
}

.searchBtn {
  background-color: rgb(20, 128, 251);
  font-size: 1rem;
  padding: 0.3rem;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.searchBtn:hover {
  background-color: rgb(109, 12, 145);
}

@media screen and (min-width: 700px) {
  .inputContainer {
    padding: 0.5rem 0;
    text-align: end;
    margin-right: 6rem;
  }

  .inputBox {
    grid-area: search;
    width: 15vw;
  }
}

@media screen and (min-width: 1000px) {
  .inputContainer {
    padding: 0;
    margin-right: 4rem;
  }
}
